 #table {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
    //  width: 100%;
    // //  height: auto;
    // //  overflow: scroll;
    //  background-color: #ffffff;
    //  margin-top: 10px;
    //  padding: 20px;
    background: #FFFFFF;
    margin: 0 6px;
    padding: 20px;
    border-radius: 3px;
    box-sizing: border-box;
     overflow-x: auto;
    // height: 578px;
 }