#topbar {
    height: 50px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .left,
    .right {
        // width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .left {
        .line_v {
            width: 1px;
            height: 24px;
            background-color: #707070;
            margin: 0 16px;
        }
        .pop_btn_addnew {
            background-color: #F7F7F7;
            border-radius: 3px;
            overflow: hidden;
            width: 170px;
            height: 40px;
            // padding: 10px;
            button {
                width: 100%;
                height: 100%;
                padding: 10px;
            }
        }
    }
    .right {
        justify-content: flex-end;
        .icon_ {
            width: 24px;
            height: 24px;
        }
        .menu_top_right {
            .menu_top_right_item {
                margin-right: 12px;
                position: relative;
                .note {
                    background-color: #FF2C00;
                    color: #FFFFFF;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    font-size: 8px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 0;
                    top: 0;
                }
            }
        }
        .btn_user {
            button {
                width: 36px;
                height: 36px;
                background-color: #FFCD29;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .menu_top_right_item {
                margin-right: 12px;
            }
            .icon_ {
                margin: 0;
            }
        }
    }
}