 .notification_.show {
     display: flex;
     position: fixed;
     width: 297px;
     height: auto;
     z-index: 10000;
     right: 20px;
     top: 55px;
     animation: fade 0.5s linear;
 }
 
 .notification_.hide {
     animation: hide_ 0.5s linear;
 }
 
 .notification_ {
     #notification {
         display: flex;
         justify-content: center;
         min-width: 306px;
         min-height: 44px;
         background-color: #ffffff;
         //  border-bottom: 4px solid #3078F1;
         /* Web/4 - Header bar WEB */
         box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03), 0px 3px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.07);
         border-radius: 3px;
         padding: 0 10px;
         .notification_item {
             display: flex;
             justify-content: flex-start;
             align-items: center;
             width: 100%;
             .icon_ {
                 width: 16px;
                 height: 16px;
             }
             div {
                //  width: 40%;
                 display: flex;
                 justify-content: flex-start;
                 &:first-child {
                     width: 15%;
                 }
                 &:last-child {
                     justify-content: flex-end;
                     margin-left: 28px;
                 }
             }
         }
         //  .notification_item.fade {
         //      animation: fade 0.2s linear;
         //  }
     }
 }
 
 @keyframes fade {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 @keyframes hide_ {
     0% {
         opacity: 1;
     }
     100% {
         opacity: 0;
     }
 }
 
 .is_hover {
     &:hover {
         .content_ {
             display: flex !important;
         }
     }
 }